body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-bottom: 20px;
    transition: color 0.5s ease-in-out;
}

.container:hover h2,
.container:hover label {
    color: #ff9a8b;
}

label {
    margin-bottom: 12px;
    color: #fff;
    transition: color 0.5s ease-in-out;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ff9a8b;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border-color 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

input:focus {
    border-color: #ff9a8b;
}

button {
    background: #ff9a8b;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background: #ff7e5f;
    transform: scale(1.02);
}

a {
    color: #ff9a8b;
    text-decoration: none;
    margin-top: 16px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #ff7e5f;
}
